In [1]:
import pandas as pd 
import numpy as np 

df = pd.read_csv('/workspaces/codespaces-jupyter/data/car_fuel_efficiency.csv')
df.head()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369

Q1. Pandas version

In [4]:
pd.__version__

'2.2.2'

Q2. Records count

How many records are in the dataset?

In [2]:
df.shape

(9704, 11)

Q3. Fuel types

How many fuel types are presented in the dataset?

In [7]:
df.fuel_type.value_counts()

fuel_type
Gasoline    4898
Diesel      4806
Name: count, dtype: int64

Q4. Missing values

How many columns in the dataset have missing values?

In [9]:
df.isnull().sum()

engine_displacement      0
num_cylinders          482
horsepower             708
vehicle_weight           0
acceleration           930
model_year               0
origin                   0
fuel_type                0
drivetrain               0
num_doors              502
fuel_efficiency_mpg      0
dtype: int64

Q5. Max fuel efficiency

What's the maximum fuel efficiency of cars from Asia?

In [11]:
df.fuel_efficiency_mpg[df.origin=='Asia'].max()

np.float64(23.759122836520497)

Q6. Median value of horsepower
- Find the median value of the horsepower column in the dataset.
- Next, calculate the most frequent value of the same horsepower column.
- Use the fillna method to fill the missing values in the horsepower column with the most frequent value from the previous step.
- Now, calculate the median value of horsepower once again.

In [13]:
hp_median = df['horsepower'].median()
hp_median

np.float64(149.0)

In [14]:
hp_mode = df['horsepower'].mode()[0]
hp_mode

np.float64(152.0)

In [15]:
df['horsepower'] = df['horsepower'].fillna(hp_mode)
df['horsepower'].median()

np.float64(152.0)

Q7. Sum of Weights - Linear Regression
- Select all the cars from Asia
- Select only columns vehicle_weight and model_year
- Select the first 7 values
- Get the underlying NumPy array. Let's call it X.
- Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.
- Invert XTX.
- Create an array y with values [1100, 1300, 800, 900, 1000, 1100, 1200].
- Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.
- What's the sum of all the elements of the result?

In [17]:
subset = df[['vehicle_weight','model_year']][df['origin']=='Asia'][:7]
subset

    vehicle_weight  model_year
8      2714.219310        2016
12     2783.868974        2010
14     3582.687368        2007
20     2231.808142        2011
21     2659.431451        2016
34     2844.227534        2014
38     3761.994038        2019

In [20]:
X = subset.to_numpy()
X

array([[2714.21930965, 2016.        ],
       [2783.86897424, 2010.        ],
       [3582.68736772, 2007.        ],
       [2231.8081416 , 2011.        ],
       [2659.43145076, 2016.        ],
       [2844.22753389, 2014.        ],
       [3761.99403819, 2019.        ]])

In [21]:
# Compute XTX
XTX = X.T @ X

# Invert XTX
XTX_inv = np.linalg.inv(XTX)

# Create y array
y = np.array([1100, 1300, 800, 900, 1000, 1100, 1200])

# Compute w
w = XTX_inv @ X.T @ y

# Sum of all elements in w
w_sum = w.sum()
w_sum

np.float64(0.5187709081074016)